@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200');
.flex {
    display: flex;
    width: 250px;
    height: 600px;
}
.flexitem {
    max-width: 350px;
}
.chef-name a{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #111;
    margin-left: 20px;
}
.chef-name img {
    margin-bottom: -9px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.chef-name span {
    color: #c4c4c4;
    font-weight: 200;
    margin-left: 5px;
    font-size: 12px;
}
.Recipe {
    border: 2px solid #111;
    border-radius: 5px;
    margin: 20px;
}
.Recipe .recipe-img{
    width: 300px;
    height: 250px;
}
.Recipe .recipe-name h2 {
    color: #8BAD00;
    border-bottom: 2px solid #E5DFDC;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
}
.description .media img{
    margin-bottom: -5px !important;
    margin: 0 10px;
}
.description .media p {
    font-size: 12px;
    color: #111;
    font-weight: 100;
    padding: 20px 20px 0px 45px;
}
.description .btns {
    list-style: none;
    margin-left: 45px;
    margin-bottom: 10px;
}
.description .btns li {
    display: inline;
}
.description .btns li a {
    color: #c4c4c4;
    font-size: 10px;
    margin-right: 10px;
}
.description .btns li a:hover {
    color: darkslategray;
}