
.c-upload {
    flex: 0 0 100%;
    text-align: center;
    color: #a3a090;
    opacity: 0.2;
    font-size: 20px;
}
.c-top {
    background-color: #e9e8e3;
    position: relative;
    overflow: hidden;
    height: 200px;
    margin: 200px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.c-top input[type=file] {
    cursor: inherit;
    display: block;
    font-size: 50px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.c-btn {
    color: #fff !important;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
}
.c-mid {
    margin: 20px auto 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.c-mid input[type=text] {
    width: 95%;
    padding: 15px 0px;
    border-radius: 5px;
    border: 0;
    margin-left: 20px;
    font-size: 24px;
}
.c-m-story {
    font-size: 16px !important;
}
.c-m-title::placeholder {
    font-size: 30px;
    cursor: text;
    color: #d2d2d2;
    font-weight: 700;
}
.c-m-story::placeholder {
    font-size: 12px;
    cursor: text;
    color: #d2d2d2;
}