@import url('https://fonts.googleapis.com/css?family=Teko:600');
.big {
    display: block;
}
.search {
    border-bottom: 1px solid #7E7B68;
    margin-bottom: 50px;
    margin-top: 100px;
}
.search .Logo {
    width: 90px;
    float: left;
    position: relative;
    left: 35%;
}
.search h1 {
    font-size: 90px;
    text-align: center;
    font-family: 'Teko', sans-serif;
}
.search input[type=text] {
    padding: 15px 100px;
    margin-top: 8px;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 100;
    border: 2px solid #E3E3DE;
}
.search button {
    padding: 17px 20px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
.searchbar {
    left: 30%;
    position: relative;
}
.search ul {
    margin-top: 20px;
    position: relative;
    left: 30%;
}
.search ul li{
    display: inline;
    margin-right: 20px;
}
.search ul li a {
    color: #7E7B68;
    font-weight: 100;
    font-size: 13px;
}
.search ul li a:hover {
    text-decoration: underline;
}
.border {
    border-right: 1px solid #7E7B68;
    padding-right: 20px;
    font-weight: 100;
}
.recipe {
    background: #97BC00 !important;
    color: white;
    border-radius: 25px;
    font-weight: 700;
    position: relative;
    margin: 100px auto;
    left: 43%;
    top: 50px;
}